<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    div a{
        justify-content: space-between;
        gap: 50px;
        color: red;
    }
    div{
        text-align: center;
    }
    .container a{
        gap: 100px;
        justify-content: space-evenly ;
    }
</style>
<body>
    <div class="container">
       <a href="demo"> <span>home</span></a>
        <a href=""><span>about</span></a>
        <a href=""><span>contact</span></a>
    </div>
    <H1>HOME PAGE</H1>
</body>
</html>